[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	branch = main
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
	branch = master
[submodule "vim/bundle/vim-expand-region"]
	path = vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
	branch = master
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	branch = master
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "vim/bundle/VimCompletesMe"]
	path = vim/bundle/VimCompletesMe
	url = https://github.com/vim-scripts/VimCompletesMe
	branch = master
[submodule "vim/bundle/vim-buftabline"]
	path = vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
	branch = master
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	branch = master
[submodule "vim/bundle/vim-sneak"]
	path = vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
	branch = master
